section.footer
    div.main

        p(class="first one") “The last three or four reps is what makes the muscle grow.
        p(class="first two") This area of pain divides the champion from someone else who is not a champion.“
        p.second - Arnold Schwarzenegger, seven-time Mr. Olympia