html
  head
    link(rel="stylesheet" href="stylesheets/header.css")
    link(rel="stylesheet" href="stylesheets/workouts_list.css")
    link(rel="stylesheet" href="stylesheets/custom_scrollbar.css")
    link(rel="stylesheet" href="stylesheets/foot.css")
    link(rel="stylesheet" href="fonts/faze-font/font.css")
  body
    header
      div(class="main_div reset")
        img.logo(src="svg/logo.svg")
        div.menu_div
            a#event1 ADD WORKOUT
                div.s-line
            a#event2 ADD DIET
                div.s-line
            a#event3 INSERT WORKOUT
                div.s-line
            a#event4 INSERT DIET
                div.s-line


    script(src="javascripts/header.js")
    block content
