extends header

block content
  div.content
    div.background-holder
      div.overlay
      img.background(src="images/background1.jpg")
    section.main
      //div.line
      div.title
        h1 W O R K O U T S
      input.search_bar
      div(class="main_scroller")
        img(class="arnold first")(src="images/arnold.png")
        ul.custom-scrollbar
          li
            div.card.add
              h1 Add Workout
              img.workout_img.default_img(src="images/muhammad-ali.png")
          li
            div.card.normal
              h1 Arm/Back
              div.hidden.custom-scrollbar2
                p.muscle-title ARM
                p.exercise-title CURL AI CAVI
                p.exercise-title FULL CRAWL
                p.exercise-title DETROIT SMASH
                p.muscle-title BACK
                p.exercise-title LAT MACHINE
                p.exercise-title STACCHI
                p.exercise-title REMATORE
                p.muscle-title ARM
                p.exercise-title CURL AI CAVI
                p.exercise-title FULL CRAWL
                p.exercise-title DETROIT SMASH
                p.muscle-title BACK
                p.exercise-title LAT MACHINE
                p.exercise-title STACCHI
                p.exercise-title REMATORE
                p.muscle-title ARM
                p.exercise-title CURL AI CAVI
                p.exercise-title FULL CRAWL
                p.exercise-title DETROIT SMASH
                p.muscle-title BACK
                p.exercise-title LAT MACHINE
                p.exercise-title STACCHI
                p.exercise-title REMATORE
              img.workout_img.mcgregor(src="images/mcgregor.png")
          li
            div.card.normal
              h1 Triceps
              //div.mini_scroller
              img.workout_img.girl(src="images/girl.png")


          li
            div.card.normal
              h1 Triceps
              //div.mini_scroller
              img.workout_img.arnold2(src="images/arnold2.png")
          li
            div.card.normal
              h1 Triceps
              //div.mini_scroller
              img.workout_img.girl(src="images/girl.png")

          li
            div.card.normal
              h1 Triceps
              //div.mini_scroller
              img.workout_img.arnold2(src="images/arnold2.png")
          li
            div.card.normal
              h1 Arm/Back
              //div.mini_scroller
              img.workout_img.mcgregor(src="images/mcgregor.png")
        img(class="arnold second")(src="images/arnold.png")

      //div.line
    include includes/foot.pug
